In [1]:
%%javascript

IPython.OutputArea.auto_scroll_threshold = 9999

In [2]:
cd ../../

/Users/samuelcohen/Movies/Healing-POEs-ICML/Code/bayesian_benchmarks_modular

In [3]:

from matplotlib import pyplot
import numpy as np
import pandas
from matplotlib import pyplot as plt
from scipy.stats import rankdata
from IPython.display import display, HTML

from bayesian_benchmarks.database_utils import Database
from bayesian_benchmarks.data import  _ALL_REGRESSION_DATATSETS
ALL_DATATSETS = {}
ALL_DATATSETS.update(_ALL_REGRESSION_DATATSETS)
from bayesian_benchmarks.data import regression_datasets

In [12]:
def rankarray(A):
    ranks = []
    for a in A:
        ranks.append(rankdata(a))
    return np.array(ranks)


def read_regression_classification(fs, models_names, datasets, task,file='results.db'):
    if task == 'classification':
        fields = ['dataset', 'N', 'D', 'K'] + [m[1] for m in models_names]
    else:
        fields = ['dataset', 'N', 'D'] + [m[1] for m in models_names]

    results = {}
    for f in fs:
        results[f] = {'table':{f:[] for f in fields}, 'vals':[]}

    with Database('bayesian_benchmarks/results/'+file) as db:

        for dataset in datasets:
            for f in fs:
                results[f]['table']['dataset'].append(dataset[:10])
                results[f]['table']['N'].append(ALL_DATATSETS[dataset].N)
                results[f]['table']['D'].append(ALL_DATATSETS[dataset].D)
                if task == 'classification':
                    results[f]['table']['K'].append(ALL_DATATSETS[dataset].K)

            row = {f:[] for f in fs}
            for model, name in models_names:
                res = db.read(task, fs, {'model':model, 
                                         'dataset':dataset})
                print(model,dataset,len(res))
                if len(res) == 0:
                    for f in fs:
                        results[f]['table'][name].append('')
                        row[f].append(np.nan)
                else:
                    for i, f in enumerate(fs):
                        if f=='test_loglik':
                            L = [-float(l[i]) for l in res]
                        else:
                            L = [float(l[i]) for l in res]
                        m = np.average(L)
                        std = np.std(L) if len(L) > 1 else np.nan
                        if m < 1000 and m > -1000:
                            r = '{:.3f}({:.3f})'.format(m, std)
                            row[f].append(m)
                        else:
                            r = 'nan'
                            row[f].append(np.nan)

                        results[f]['table'][name].append(r)

            #             stderr = np.std(L)/float(len(L))**0.5
            #             r = '{:.3f} ({:.3f})'.format(m, stderr)
            for f in fs:   
                results[f]['vals'].append(row[f])


    for f in fs:
        if 'unnormalized' not in f:
            vals = np.array(results[f]['vals'])

            avgs = np.nanmean(vals, 0)
            meds = np.nanmedian(vals, 0)
            rks = np.nanmean(rankarray(vals), 0)

            for s, n in [[avgs, 'avg'], [meds, 'median'], [rks, 'avg rank']]:
                results[f]['table']['dataset'].append(n)
                results[f]['table']['N'].append('')
                results[f]['table']['D'].append('')
                if task == 'classification':
                    results[f]['table']['K'].append('')
                for ss, name in zip(s, [m[1] for m in models_names]):
                    results[f]['table'][name].append('{:.3f}'.format(ss))
    
    return results, fields

In [15]:
models_names = [
                ['gPoE_100_100_clustering_variance', 'rBCM/gPoE_var'],
               ['bar_100_100_clustering_variance', 'bar_var'],
               ['rBCM_100_100_clustering_diff_entr', 'rbcm_entr'],
               ['gp', 'gp'],
               ['linear', 'linear']]
                

fs = 'test_loglik', 'test_rmse', 'test_loglik_unnormalized', 'test_rmse_unnormalized'

results, fields = read_regression_classification(fs, models_names, regression_datasets, 'regression')

gPoE_100_100_clustering_variance airline 10
bar_100_100_clustering_variance airline 10
rBCM_100_100_clustering_diff_entr airline 10
gp airline 0
linear airline 10
gPoE_100_100_clustering_variance concrete 10
bar_100_100_clustering_variance concrete 10
rBCM_100_100_clustering_diff_entr concrete 10
gp concrete 0
linear concrete 10
gPoE_100_100_clustering_variance power 10
bar_100_100_clustering_variance power 10
rBCM_100_100_clustering_diff_entr power 10
gp power 0
linear power 10
gPoE_100_100_clustering_variance wilson_airfoil 10
bar_100_100_clustering_variance wilson_airfoil 10
rBCM_100_100_clustering_diff_entr wilson_airfoil 10
gp wilson_airfoil 0
linear wilson_airfoil 10
gPoE_100_100_clustering_variance wilson_kin40k 10
bar_100_100_clustering_variance wilson_kin40k 10
rBCM_100_100_clustering_diff_entr wilson_kin40k 10
gp wilson_kin40k 0
linear wilson_kin40k 10
gPoE_100_100_clustering_variance wilson_parkinsons 10
bar_100_100_clustering_variance wilson_parkinsons 10
rBCM_100_100_clustering_diff_entr wilson_parkinsons 10
gp wilson_parkinsons 0
linear wilson_parkinsons 10
gPoE_100_100_clustering_variance wilson_protein 10
bar_100_100_clustering_variance wilson_protein 10
rBCM_100_100_clustering_diff_entr wilson_protein 10
gp wilson_protein 0
linear wilson_protein 10

/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:64: RuntimeWarning: Mean of empty slice

In [16]:

print('NLPDSd')
display(HTML(pandas.DataFrame(results['test_loglik']['table'], columns=fields).to_html(index=False)))


print('normalised test rmse')
display(HTML(pandas.DataFrame(results['test_rmse']['table'], columns=fields).to_html(index=False)))

normalised test loglikelihood

normalised test rmse